::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #d9deec;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

//pagination style begin
.pagination {
  display: flex;
  list-style: none;
  margin: 50px 0;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination li {
  height: 40px;
  border: 1px solid #293042;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li a {
  color: black;
  text-decoration: none;
}

.pagination .link-active {
  background-color: #293042;
  color: white;
}

.pagination .previous, .pagination .next {
  display: flex;
  align-items: center;
}

//pagination style end


.icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;

  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: grey;
  transition: 0.3s linear;

  &-dashboard {
    mask-image: url("/assets/icons/dashboard.svg");
    -webkit-mask-image: url("/assets/icons/dashboard.svg");
  }

  &-notification {
    mask-image: url("/assets/icons/notification.svg");
    -webkit-mask-image: url("/assets/icons/notification.svg");
  }

  &-pulse {
    mask-image: url("/assets/icons/pulse.svg");
    -webkit-mask-image: url("/assets/icons/pulse.svg");
  }

  &-plus {
    mask-image: url("/assets/icons/plus.svg");
    -webkit-mask-image: url("/assets/icons/plus.svg");
  }

  &-message {
    mask-image: url("/assets/icons/message.svg");
    -webkit-mask-image: url("/assets/icons/message.svg");
  }

  &-calendar {
    mask-image: url("/assets/icons/calendar.svg");
    -webkit-mask-image: url("/assets/icons/calendar.svg");
  }

  &-date {
    mask-image: url("/assets/icons/date.svg");
    -webkit-mask-image: url("/assets/icons/date.svg");
  }

}


button, .btn-link {
  cursor: pointer;
  outline: 0;
  border: none;
  transition: all 0.2s linear;

  &:not([disabled]):active {
    transform: scale(0.9);
  }

  &[disabled] {
    opacity: 0.7;
  }
}

.mainLayout {
  height: 100vh;
  width: 100%;
  background-color: #F7F9FC;
  display: flex;
  position: relative;
  z-index: 999;

  .mainLayoutLeft {
    width: 300px;
    background-color: #293042;
    padding: 20px 30px;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    z-index: 999;

    .mainBrand {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      color: white;
      text-decoration: none;
      display: block;

      span {
        vertical-align: sub;
        width: 30px;
        height: 30px;
        background-color: #4a88eb;
      }

      p {
        font-size: 10px;
        color: #e5a54b;
        margin-bottom: 0;
        text-align: right;
        margin-right: 28px;
      }
    }

    .title {
      color: #ced4da;
      margin-bottom: 20px;
      margin-top: 50px;
      font-weight: 500;
    }

    ul {
      padding-left: 0;

      li {
        display: block;

        a {
          font-weight: 500;
          color: grey;
          transition: all 0.3s linear;
          text-decoration: none;
          margin-top: 15px;
          display: block;

          &:hover, &.active {
            color: #ced4da;

            span {
              background-color: #ced4da;
            }
          }

          &.active {
            background-color: transparent;
          }
        }
      }
    }
  }

  .mainLayoutRight {
    width: calc(100% - 300px);
    height: 100vh;
    overflow-y: auto;

    .mainLayoutHeader {
      padding: 20px 30px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      input {
        width: 150px;
        height: 35px;
      }

      select {
        width: 200px;
        height: 35px;
      }

      .my-tooltip-1 {
        background-color: rgba(63, 128, 234, .175);
        color: #3f80ea;
        margin: 0 15px;
        padding: 3px 8px;
        display: flex;
        align-items: center;

        span {
          height: 16px;
          width: 16px;
          background-color: #3f80ea;
        }
      }

      .my-tooltip-2 {
        background-color: rgba(217, 83, 79, .175);
        color: #d9534f;
        padding: 3px 8px;
        display: flex;
        align-items: center;

        span {
          height: 16px;
          width: 16px;
          background-color: #d9534f;
        }
      }

      .dropdown {
        button {
          border: none;
          background-color: transparent;
          font-size: 12px;
          opacity: 0.8;

          img {
            width: 12px;
            height: 12px;
            margin-right: 5px;
          }
        }
      }
    }

    .mainLayoutContent {
      padding: 40px 30px;
    }
  }
}

.home-page {
  .home-page-header {
    padding: 20px 0;
    background-color: #3b5998;;

    .navbar-brand {
      font-size: 20px;
      color: white;
      font-weight: 500;

      span {
        width: 30px;
        height: 30px;
        vertical-align: sub;
        background-color: white;
      }
    }

    .btns-group {
      display: flex;
      align-items: center;

      button:first-child {
        background-color: white;
        border: none;
        border-radius: 20px;
        padding: 5px 15px;
        font-weight: 500;
      }

      button:last-child {
        margin-left: 20px;
        background-color: transparent;
        border: none;

        span {
          width: 25px;
          height: 25px;
          background-color: white;
        }
      }
    }

    h1, p {
      text-align: center;
      color: white;
    }

    h1 {
      margin-top: 100px;
      font-size: 60px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 100px;
    }
  }

  .home-page-body {
    padding: 20px 0;

    a {
      font-size: 0.9rem;
      padding: 0.35rem 1rem;
      text-decoration: none;
      box-shadow: none;

      &:after {
        content: '';
        width: 0;
        height: 1px;
        background-color: black;
        display: block;
        transition: 0.5s linear;
      }

      &:hover:after {
        content: '';
        width: 100%;
        display: block;
      }
    }

  }

}

.complaints-list {
  .search-filter {
    display: flex;

    .search-input {
      position: relative;
      width: 200px;

      input {
        width: 200px;
        height: 35px;
        border-radius: 20px;
        padding: 0px 30px 0 10px;
        box-sizing: border-box;
      }

      img {
        position: absolute;
        right: 15px;
        width: 15px;
        top: 10px;
        cursor: pointer;
      }
    }

    .filter-data {
      cursor: pointer;
      height: 35px;
      display: flex;
      align-items: center;
      margin-left: 30px;

      img {
        width: 15px;
        margin-right: 5px;
      }
    }
  }

  .create-btn {
    display: flex;
    width: 250px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #e5a54b;
    padding: 0 10px;
    color: white;
    font-weight: 500;

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 10px;
        height: 10px;
        margin-right: 0;
        background-color: #e5a54b;
      }
    }
  }

  table {
    thead {
      text-transform: uppercase;
      background-color: #d9deec;
      font-size: 11px;
    }

    td {
      white-space: nowrap;
      font-size: 12px;
      padding: 10px 20px;
    }

    a {
      text-decoration: none;
    }

    th {
      white-space: nowrap;
      text-align: center;
    }

    td:nth-child(2) {
      text-align: center;
    }

    .status {
      padding: 2px 5px;
      border-radius: 10px;
      display: inline-block;
    }

    .status-income {
      background-color: rgba(229, 165, 75, .175);
      color: #e5a54b;
    }

    .status-confirmation {
      background-color: rgba(31, 155, 207, .175);
      color: #1f9bcf;
    }

    .status-decided {
      background-color: rgba(75, 191, 115, .175);
      color: #4bbf73;
    }

    .status-rejected {
      background-color: rgba(217, 83, 79, .175);
      color: #d9534f;
    }
  }


}

.complaints-list-item-page {
  .nav-tabs {
    border: none;

    a {
      color: black;
      border: none;
    }
  }

  .tab-pane {
    .card {
      padding: 20px 30px;
    }

    table {
      thead {
        background-color: #d9deec;
      }

      th {
        font-size: 12px;
      }
    }
  }

  .process-card {
    .message {
      text-align: center;
      background-color: #eff2f6;
      border: 1px solid #dee6ed;
      margin-top: 15px;
      padding: 10px 20px;
      color: #6c757d;
      font-size: 12px;

      span:first-child {
        background-color: #e5a54b;
        width: 15px;
        height: 15px;
        vertical-align: sub;
      }
    }

    table {
      margin-top: 30px;

      td {
        padding: 10px 0;
        font-size: 14px;
      }

      th {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .history-attempt {
      b {
        font-weight: 500;
      }
    }
  }
}

.complaints-dashboard-page {
  .all-statistics {
    .card {
      border: none;
      width: 25%;
      text-align: center;
      height: 100px;
      padding: 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 0;

      .count {
        font-weight: 500;
        font-size: 20px;
      }

      .text {
        color: grey;
      }
    }
  }

  .tab-pane {
    .table {
      thead {
        background-color: #d9deec;
      }

      th {
        text-align: center;
        font-size: 12px;
        white-space: nowrap;
      }

      td {
        white-space: nowrap;
      }
    }
  }
}

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .box {
    text-align: center;
    min-width: 500px;
    min-height: 500px;

    b {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .card {
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: left;

    .footer-card {
      align-items: center;
      justify-content: center;

      button {
        border: none;
        background-color: transparent;
        color: #0d6efd;
      }

      a {
        text-decoration: none;
      }

      span {
        width: 1px;
        height: 16px;
        background-color: #0d6efd;
        margin: 0 20px;
      }
    }
  }
}

.register-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .box {
    text-align: center;
    min-width: 600px;
    min-height: 600px;

    b {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .card {
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: left;

    .footer-card {
      align-items: center;
      justify-content: center;

      button {
        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    small {
      font-size: 12px;
    }

    ul {
      margin-bottom: 16px;

      li {
        font-size: 12px;
        opacity: 0.75;
      }
    }
  }
}

.application-dashboard-page {
  .table {
    thead {
      background-color: #d9deec;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .btn-link {
      background-color: #0d6efd;
      text-decoration: none;
      color: white;
    }
  }

  .create-application-btn {
    width: 220px;
    height: 40px;
    border-radius: 50px;
    background-color: #4bbf73;
    border: none;
    color: white;

    span {
      background-color: white;
    }
  }

  .offcanvas {
    .offcanvas-header {
      background-color: #293042;
      color: white;
    }
    .offcanvas-body{
      table{
      font-size: 12px;
    }
    }
  }
}

.application-dashboard-list-page{
  .list-header{
    .card{
      border:none;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.09);
      .title{
        font-size: 15px;
        margin-bottom: 5px;
      }

    }
  }
  .list-body{
    .card{
      box-shadow: 5px 5px 10px rgba(0,0,0,0.09);
    }
  }
}


